<a href="https://colab.research.google.com/github/HunterAshby/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [4]:
df.dropna(inplace=True)
df['created'] = pd.to_datetime(df['created'])
df.set_index('created', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 47260 entries, 2016-06-24 07:54:24 to 2016-04-12 02:48:07
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             47260 non-null  float64
 1   bedrooms              47260 non-null  int64
 2   description           47260 non-null  object
 3   display_address       47260 non-null  object
 4   latitude              47260 non-null  float64
 5   longitude             47260 non-null  float64
 6   price                 47260 non-null  int64
 7   street_address        47260 non-null  object
 8   interest_level        47260 non-null  object
 9   elevator              47260 non-null  int64
 10  cats_allowed          47260 non-null  int64
 11  hardwood_floors       47260 non-null  int64
 12  dogs_allowed          47260 non-null  int64
 13  doorman               47260 non-null  int64
 14  dishwasher            47260 non-null  int64
 15  no_fee                47260 non-null  int64
 16  laundry_in_building   47260 non-null  int64
 17  fitness_center        47260 non-null  int64
 18  pre-war               47260 non-null  int64
 19  laundry_in_unit       47260 non-null  int64
 20  roof_deck             47260 non-null  int64
 21  outdoor_space         47260 non-null  int64
 22  dining_room           47260 non-null  int64
 23  high_speed_internet   47260 non-null  int64
 24  balcony               47260 non-null  int64
 25  swimming_pool         47260 non-null  int64
 26  new_construction      47260 non-null  int64
 27  terrace               47260 non-null  int64
 28  exclusive             47260 non-null  int64
 29  loft                  47260 non-null  int64
 30  garden_patio          47260 non-null  int64
 31  wheelchair_access     47260 non-null  int64
 32  common_outdoor_space  47260 non-null  int64
dtypes: float64(3), int64(26), object(4)
memory usage: 12.3+ MB

In [5]:
df['total_perks'] = df.iloc[:,10:].sum(axis=1)

In [6]:
df['cats_and_dogs'] = df['cats_allowed'] & df['dogs_allowed']

In [7]:
df.head()

                     bathrooms  bedrooms  ... total_perks cats_and_dogs
created                                   ...
2016-06-24 07:54:24        1.5         3  ...           0             0
2016-06-12 12:19:27        1.0         2  ...           4             1
2016-04-17 03:26:41        1.0         1  ...           3             0
2016-04-18 02:22:02        1.0         1  ...           2             0
2016-04-28 01:32:41        1.0         4  ...           1             0

[5 rows x 35 columns]

In [8]:
#Split data
y = df['price']
X = df[['bedrooms', 'total_perks']]
print(y.shape)
print(X.shape)

(47260,)
(47260, 2)

In [9]:
#Training and Validation
mask = X.index < pd.to_datetime('2016-06')

X_train, y_train = X.loc[mask], y.loc[mask]
X_val, y_val = X.loc[~mask], y.loc[~mask]

In [10]:
import plotly.express as px
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

In [11]:
#Make and fit model
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_train)

In [12]:
print('Model Intercept: ', model.intercept_)
print('Model Coefficients: ', model.coef_)

Model Intercept:  1785.7905850291868
Model Coefficients:  [808.44636723 128.96653999]

In [13]:
print('Training R2: ', model.score(X_train, y_train))
print('Training MAE: ', mean_absolute_error(y_train, X_train[['total_perks']]))
print('Training RMSE: ', mean_squared_error(y_train, X_train[['total_perks']]))
print('Validation R2: ', model.score(X_val, y_val))
print('Validation MAE: ', mean_absolute_error(y_val, X_val[['total_perks']]))
print('Validation RMSE: ', mean_squared_error(y_val, X_val[['total_perks']]))

Training R2:  0.3426495013283051
Training MAE:  3569.0090891384793
Training RMSE:  15846726.006297475
Validation R2:  0.34209553926608116
Validation MAE:  3582.897289412909
Validation RMSE:  15956376.336696245